In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("error")

## Tabla Event_type

In [32]:
# aqui me di cuenta que habia filas con registros de 2 tipos de evento
event_type = pd.read_csv("event_type.csv", names=['id','event_type_1','event_type_2'], skiprows=1)
event_type.drop(34082, inplace=True)
event_type.event_type_2.value_counts(dropna=False, normalize=True)

NaN     0.914588
 1.0    0.085412
Name: event_type_2, dtype: float64

que solo corresponden al 1 y se quitaron por que solo son el 8.7% de la tabla total

In [16]:
event_type.event_type_2.value_counts(dropna=False, normalize=False)

NaN     31171
 1.0     2912
Name: event_type_2, dtype: int64

In [17]:
resource_type = pd.read_csv("resource_type.csv", names=['id','resource_type_1','resource_type_2'], skiprows=1)
resource_type.head()

     id  resource_type_1  resource_type_2
0  6597  resource_type 8              NaN
1  8011  resource_type 8              NaN
2  2597  resource_type 8              NaN
3  5022  resource_type 8              NaN
4  6852  resource_type 8              NaN

In [18]:
resource_type.resource_type_2.value_counts(dropna=False, normalize=False)

NaN     21077
 1.0     1800
Name: resource_type_2, dtype: int64

In [19]:
resource_type.resource_type_2.value_counts(dropna=False, normalize=True)

NaN     0.921318
 1.0    0.078682
Name: resource_type_2, dtype: float64

que solo corresponden al 1 y se quitaron por que solo son el 7.8% de la tabla total